<header>
  <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p>Passport</p>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-items">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-items" class="navbar-menu">
      <% if(currentUser) { %>
      <div class="navbar-end">
          <a class="navbar-item" href="/travellog"><i class="fas fa-plane"></i> Travel Log</a>
          <a class="navbar-item" href="/travellog/map"><i class="fas fa-map-marked-alt"></i> Map</a>
          <a class="navbar-item" href="/travellog/comparison"><i class="fas fa-trophy"></i> Compete</a>
          <a class="navbar-item" href="/profile"><i class="fas fa-user"></i> Profile</a>
          <a class="navbar-item" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </div>
      </div>
      <% } else { %>
      <div class="navbar-end">
        <a class="navbar-item" href="/auth/login">Log In</a>
        <a class="navbar-item" href="/auth/signup">Sign Up</a>
      </div>
      <% } %>
    </div>
  </nav>
</header>