<% infoMessages && infoMessages.forEach((message) => { %>
<div class="notification is-info">
  <button class="delete"></button>
  <%- message %>
</div>
<% })
errorMessages && errorMessages.forEach((message) => { %>
<div class="notification is-warning">
  <button class="delete"></button>
  <%- message %>
</div>
<% }) %>

