<%- include partials/header.ejs %>

<h1>Add Country</h1>
<form class="form" action="/travellog" method="POST">

  <label for="country">Country</label>
  <input type="text" name="country" required>

  <button type="submit">Save</button>
  <%- include('./partials/notifications.ejs') %>
</form>
