<% if(locals.currentUser) { %>
<%- include partials/headerLoggedIn.ejs %>
<% } else { %>
<%- include partials/headerLoggedOut.ejs %>
<% } %>

<main>
  <section>
  <div>image
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum et culpa delectus nam ullam. Sint, rerum quae iure, illum quia dolore quaerat eum voluptates ipsa minus cum dicta possimus soluta?</p>
  </div>
  </section>

  <section>
    <div>feature1
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, recusandae fugit vel illum, omnis enim facilis, earum eveniet eius corrupti nobis aliquam maiores officia debitis totam a atque provident amet.</p>
    </div>
    <div>feature2
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, recusandae fugit vel illum, omnis enim facilis, earum eveniet eius corrupti nobis aliquam maiores officia debitis totam a atque provident amet.</p>
    </div>
    <div>feature3
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, recusandae fugit vel illum, omnis enim facilis, earum eveniet eius corrupti nobis aliquam maiores officia debitis totam a atque provident amet.</p>
    </div>
  </section>
</main>
<%- include partials/footer.ejs%>
