<%- include partials/header.ejs %>

<div id="home">
<!-- This modal only triggers on Sign Up button click -->
  <div class="modal">
    <div class="modal-background"></div>
      <div class="modal-content">
        <div class="container form">
          <%- include partials/signup-form.ejs %>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
    </div>
  </div>
  <!-- End of modal -->

  <div class="hero">
    <div id="home-banner" class="hero-body">
      <div class="container">
        <% if(!currentUser) { %>
        <h1 class="title is-1">Keep track of your trips with Passport.</h1>
        <div class="field is-grouped is-grouped-centered">
          <a class="button action" href="#">Sign Up</a>
        </div>
        <% } else { %>
        <h1>Welcome back <%= currentUser.username %></h1>
        <% } %>
      </div>
    </div>
  </div>

  <div class="container-homepage">
  <div class="card homepage-card">
    <div class="card-image" id="homepage-card-image">
      <figure class="image">
        <img src="../img/passport.svg" alt="Passport image">
      </figure>
    </div>
    <div class="card-content">
      <p class="title is-4 has-text-centered">Track your trips</p>
      <div class="content has-text-centered">
      Know how many countries and continents you have been.
      </div>
    </div>
  </div>

  <div class="card homepage-card">
    <div class="card-image" id="homepage-card-image">
      <figure class="image">
        <img src="../img/map.svg" alt="Map image">
      </figure>
    </div>
    <div class="card-content">
      <p class="title is-4 has-text-centered">Map your trips</p>
      <div class="content has-text-centered	">
        See where you and your friends been.
      </div>
    </div>
  </div>

  <div class="card homepage-card">
    <div class="card-image" id="homepage-card-image">
      <figure class="image">
        <img src="../img/camera.svg" alt="Instagram image">
      </figure>
    </div>
    <div class="card-content">
      <p class="title is-4 has-text-centered">Join with Instagram</p>
      <div class="content has-text-centered">
        Automatically create trips based on your Instagram account.
      </div>
    </div>
  </div>
  
  </div>
  
  

<%- include partials/footer.ejs%>
