<h1>Welcome user</h1>

<form action="/auth/login" method="POST">
  <h3>Login</h3>

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="username">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="password">

  <button>Sign in</button>

  <p>
    Don't have an account? <a href="/auth/signup">Sign up</a>
  </p>
</form>