<%- include partials/header.ejs %>

<a href="/travellog" class="button arrow">
    <span class="icon is-medium">
      <i class="fas fa-arrow-left"></i>
    </span>
</a>
<div class="map-container">
  <div id="map"></div>
</div>

<script src=<%= GMAPAPIKEY %>></script>
<script>
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 51.509865, lng: -0.118092},
    zoom: 2
  });

  var countries =<%-JSON.stringify(countries)%>

  if(countries.length>0){
  const restriction = countries.reduce((acc,cur,index)=>{
    if(index === countries.length - 1){
      return acc + cur.name + `')"`;
    }
    else{
      return acc + cur.name + `', '`;
    }
  },`"name in ('`);

  console.log(restriction);
  
  const layer = new google.maps.FusionTablesLayer({
    query: {
      select: "'geometry'",
      from: "1uAfX7SJvGuIo7mn4mXM1H7cGW07kHp5V1KIhlkxm",
      where: restriction
    }
  });
  layer.setMap(map);  
  }
</script>