<%- include partials/header.ejs %>

<form id="form" action="/auth/signup" method="POST">
  <h3>Register</h3>

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Your username" required>

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="********" required>

  <label for="homeCountry">Home country</label>
  <input type="text" name="homeCountry" placeholder="your country" required>

  <button type="submit">Sign Up</button>
  <%- include('./partials/notifications.ejs') %>

</form>