<%- include partials/headerLoggedIn.ejs %>
<h1>Travel Log</h1>

<div>
  <p>Stats</p>
</div>
<div>
  <ul>
    <% travelLog.forEach((country)=>{ %>
      <li><%= country.name %></li>
    <% }) %>
  </ul>
  <a href="/travellog/add">Add</a>
</div>
