/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Lato', sans-serif;  font-size: 16px;
  line-height: 147%;
}

#home-banner h1 {
  font-family: 'Lato', sans-serif;  font-size: 16px;
  color: #006989;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.2rem;
  text-align: right;
}

#login h1 {
  font-family: 'Zilla Slab', serif;
  color: #F7F5FB;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 2.2rem;
  text-align: center;
  margin-bottom: 4rem;
}

#login p, #login label {
  font-family: 'Lato', sans-serif;  font-size: 16px;
  color: #F7F5FB;
  font-weight: 400;
  
}

h2 {}

h3 {}

p {
  margin: 0;
}

.navbar-brand p {
  font-family: 'Zilla Slab', serif;
  color: #F7F5FB;
  font-weight: 700;
  font-size: 1.6rem;
}

/* ---- layout ---- */

#home-banner {
  background: url(../img/passport-banner.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 20rem;
  margin-top: 3.25rem;
}

#login {
  background-color: #363636;
  height: 100vh;
  padding: 3rem 2rem;

}

#signup {
  margin-top: 3.25rem;
  padding: 3rem 2rem;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.25rem;
  padding: 3rem 1rem;
}

#profile .form {
  padding: 3rem 2rem;
}

#travel-log {
  margin-top: 3.25rem;
}

#travel-log .columns {
  width: 100%;
}

#travel-log h2 {
  padding: 1rem 2rem;
}

.log {
  margin-top: 20%;
}

/* ---- components ---- */

#home-banner .button {
  font-weight: 700;
  margin-top: 1rem;
}

#signup .button {
  margin-top: 1rem;
}

#login p:last-child>a {
  color: #F7F5FB;
  text-decoration: underline;
}

.button {
  background-color: #F58A07;
  color: #F7F5FB;
  border: none;
}

#login .button {
  width: 100%;
  margin-top: 1rem;
}

.btn-instagram {
  background-color: #517fa4;
  color: #F7F5FB;
  width: 100%;
}

#travel-log .log {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#travel-log .log>a {
  width: 5rem;
}

#travel-log .trip-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #006989;
  color:#F7F5FB;
  height: 3rem;
  margin-bottom: 1rem;
}

.remove-trip-btn  {
  background-color: #F7F5FB;
  border-radius: 50%;
  border: none;
  width: 2rem;
  height: 2rem;
}

#profile .save {
  width: 78%;
}

#profile .delete-btn {
  width: 22%;
}
